.image{
    width: 50px;

}
.containera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;  
    text-align: justify;
}
.imgname{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    margin-right: 20px;
}
.price{
    color: rgb(13, 228, 5);
    font-weight: bold;
}
.priceinvalid{
    color: rgb(245, 7, 7);
    font-weight: bold;
}
span{
    width: 140px;
}